<html>
	<head>
		<meta charset="UTF-8">
		<title> Index </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">TITULO</h1>
			</div></br></br></br>
				<h1 class="bottom">
					Hola persona!!</br></br> Bienvenido a la red social Los Inadaptados, para que haga esas cosas.....
				</h1></br></br></br>
				<a href="{{ url_for('login') }}" class="btn">Iniciar sesion</a>
		</div>
		</div>
	</body>
</html>
